<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compartible" content="ie=edge">

    <link rel="stylesheet" href="css/teste.css">
    <!--link p/icon manifest-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <title>Portifólio Wilson Freire</title>
</head>

<body>
    {{{body}}}

  <footer>
        <div class="footer-content">
            <p>
                copyright &copy; 2021, WMF - Todos os direitos reservados
            </p>
            <div class="social-list">
                <ul>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <a href="#home" id="link-topo">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
    
</body>
<script src="/script.js"></script>

</html>