 <!--section.sessao-conhecimento>(.sessao-header>h1)+.conhecimentos>(.conhecimento>(.conhecimento.header>i.fab+3).conhecimento-text>p{lorem30})*6
-->
    <section class="sessao-conhecimento" id="conhecimentos">
        <div class="sessao-header">
            <h1>Conhecimentos</h1>
        </div>
        <div class="conhecimentos">
            <div class="conhecimento">
                <div class="conhecimento-header">
                    <i class="icon-html5"></i>
                    <h3>HTML</h3>
                </div>
                <div class="conhecimento-text">
                    <p>HTML semântico, deixar o site com suas informações bem explicadas e compreensíveis para o
                        computador, ajudando até mesmo em sua busca no Google e facilitando o entendimento de
                        leitores de acessibilidade.</p>
                </div>
            </div>
            <div class="conhecimento">
                <div class="conhecimento-header">
                    <i class="icon-css3-alt"></i>
                    <h3>CSS</h3>
                </div>
                <div class="conhecimento-text">
                    <p>Cascading Style Sheets. Criar efeitos de transição, imagem, imagem de fundo/background e
                        outros, imaginando e treinando diversos aspectos de design no layout da página.</p>
                </div>
            </div>
            <div class="conhecimento">
                <div class="conhecimento-header">
                    <i class="fas fa-pencil-alt"></i>
                    <h3>Design</h3>
                </div>
                <div class="conhecimento-text">
                    <p>Experiência comprovada em carteira com trabalhos na onde utilizei Photoshop, o Illustrator e
                        o InDesign. Mente criativa e desafiadora para novos desafios, cursando figma no momento </p>
                </div>
            </div>
            <div class="conhecimento">
                <div class="conhecimento-header">
                    <i class="icon-javascript-alt"></i>
                    <h3>Javascript</h3>
                </div>
                <div class="conhecimento-text">
                    <p> Lógica de programação e algorítmo utilizando Javascript em problemas reais, desenvolvendo
                        códigos com base em exemplos práticos, onde o foco é desenvolver habilidades em lógica de
                        programação.</p>
                </div>
            </div>
            <div class="conhecimento">
                <div class="conhecimento-header">
                    <i class="icon-mssql"></i>
                    <h3>SQL</h3>
                </div>
                <div class="conhecimento-text">
                    <p>Proficiente em comandos básicos como:</br> CREATE, DELETE, INSERT, UPDATE. Experiência
                        compravada em contrato na onde era responsável por entregar relatorios a área
                        administrativa. </p>
                </div>
            </div>
            <div class="conhecimento">
                <div class="conhecimento-header">
                    <i class="icon-git"></i>
                    <h3>Git</h3>
                </div>
                <div class="conhecimento-text">
                    <p>Conhecimentos básicos como git ls, add, status, commit, reset, merge, pull e push.
                        </br>Projetos em startups e pessoais fazendo alterações simples e usando alguns dos comandos
                        citados a cima. </p>
                </div>
            </div>
            <div class="conhecimento-img-wrapper">
                <img src="img/conhecimentos.png" alt="imagem conhecimento">
            </div>
        </div>
    </section>