<section class="sessao-contato" id="contato">
    <div class="contato-wrapper">
        <div class="contato-left"></div>
        <div class="contato-rigth">
            <h1>Contato</h1>
            <form action="/add" method="POST">
                <div class="input-group">
                    <input require type="text" name="nome" class="field" id="nome">
                    <label for="nome" class="field-label">Nome</label>
                    <span class="error"></span>
                </div>
                <div class="input-group">
                    <input required type="text" name="email" class="field" id="email">
                    <label for="email" class="field-label">Email</label>
                    <span class="error"></span>
                </div>
                <div class="input-group">
                    <textarea name='mensagem' class="field" id="mensagem"></textarea>
                    <label for="mensagem" class="field-label">Mensagem</label>
                </div>
                <button class="btn btn-submit" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>