    <header id="home">
        <div class="img-wrapper">
            <img src="/img/bg.jpg" alt="">
        </div>
        <div class="banner">
            <h1>Web Developer & Front End <br>Designer</h1>
            <p>Wilson Morais Freire</p>
            <button>Saiba mais</button>
        </div>
    </header>

