<section class="sessao-projetos" id="projetos">
        <div class="sessao-header">
            <h1>Projetos</h1>
        </div>
        <!--.projetos>.card>(.card-img-wrapper+.card-info>h2+h3+p+button)*3-->
        <div class="projetos">
            <div class="card">
                <div class="card-img-wrapper">
                    <img src="img/proj1.jpg" alt="imagem do projeto ToDo">
                </div>
                <div class="card-info">
                    <h2>Todo List</h2>
                    <h3>Formulários</h3>
                    <p>Modelos para formulários, criados com JS e suas validações simples.</p>
                    <a href="https://github.com/Wilsonmfreire/ProjetosHTML-CSS/tree/main/Formul%C3%A1rios"><button
                            class="btn">Saiba Mais </button> </a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-wrapper">
                    <img src="img/proj2.jpg" alt="imagem do projeto Maratona">
                </div>
                <div class="card-info">
                    <h2>NetFlix</h2>
                    <h3>HTML, CSS</h3>
                    <p>Um dos projeto academicos feito em bootcamp com mais de oito horas.</p>
                    <a href="https://github.com/Wilsonmfreire/ProjetosHTML-CSS/tree/main/NetFlix-clone"><button
                            class="btn">Saiba Mais </button> </a>
                </div>
            </div>
            <div class="card">
                <div class="card-img-wrapper">
                    <img src="img/proj3.jpg" alt="imagem do projeto Casa Beta">
                </div>
                <div class="card-info">
                    <h2>PetShop</h2>
                    <h3>HTML</h3>
                    <p>Primeiro Projeto feito junto com o curso de Full Stack da Digital House</p>
                    <a href="https://github.com/Wilsonmfreire/ProjetosHTML-CSS/tree/main/petshop-front"><button
                            class="btn">Saiba Mais </button> </a>
                </div>
            </div>
        </div>
    </section>
